.root {
  text-align: center;
  width: 200px;
}

.header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.intro {
  font-size: 15pt;
}

td {
  height: 100px;
  width: 100px;
  border: 1px solid black;
}
